services:
  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  youtube-app:
    build: .
    restart: always
    # HIER GEEN PORTS MEER! Caddy praat intern met deze app.

  merger-app:
    build:
      context: .
      dockerfile: Dockerfile.merger
    ports:
      - "5001:5001"
    restart: always

volumes:
  caddy_data:
  caddy_config: