version: '3'

services:
  caddy:
    image: caddy:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

  youtube-app:
    build: 
      context: .
      dockerfile: Dockerfile
    restart: always
    # Geen externe 'ports' mapping meer nodig, Caddy praat intern met poort 5000

  merger-app:
    build:
      context: .
      dockerfile: Dockerfile.merger
    restart: always
    # Caddy praat intern met poort 5001

volumes:
  caddy_data:
  caddy_config: